<div class="container">
    <div class="details">
      <app-title title="Login"></app-title>
  
      <form [formGroup]="loginForm" (ngSubmit)="submit()">
  
      <div>
        <label for="email">email</label>
        <input type="email" placeholder="email" formControlName="email">
      </div>
      <div class="error-list" *ngIf="fc.email.errors && isSubmitted">
        <div *ngIf="fc.email.errors.required">should not be empty</div>
        <div *ngIf="fc.email.errors.email">email is not correct</div>
      </div>      
      <div>
        <label for="password">password</label>
        <input type="password" placeholder="password" formControlName="password">
      </div>
      <div class="error-list" *ngIf="fc.password.errors && isSubmitted">
        <div *ngIf="fc.password.errors.required">should not be empty</div>       
      </div>
  
      <div class="button">
        <button type="submit">Login</button>
      </div>    
      </form>
    </div>
  </div>